@page "/"
@namespace FuriaChatBotApi.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furia ChatBot Demo</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <script src="js/blazorHelpers.js"></script>
</head>
<body>
    <div id="app">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
